:root {
    color-scheme: light dark;
    --bg-color: #f6f7f8;
    --text-color: #2f3234;
    --link-color: #3a6fc2;
    --visited-color: #6b5fa7;
    --gray-accent-color: #dedede;
    --font-family: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #181c20;
    --text-color: #e1e2e3;
    --link-color: #7ca8df;
    --visited-color: #9a94d0;
    --gray-accent-color: #252a30;
  }
}

body {
    margin: auto;
    padding: 0ch 1ch;
    max-width: 75ch;
    background-color: var(--bg-color);
    color: var(--text-color);
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono[wght].ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Italic[wght].ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: var(--link-color);
}

#site-navbar,
#site-footer {
    background-color: var(--gray-accent-color);
}
  
#site-navbar > a, 
#site-footer > a {
    text-decoration: underline;
    color: var(--link-color);
}

#site-navbar > a:before, 
#site-footer > a:before {
    display: inline-block;
    content: "[";
}
#site-navbar > a:after, 
#site-footer > a:after {
    display: inline-block;
    content: "]";
}

.section {
    margin: 2ch 0ch;
}